body {
background-color: white;
}
.logo {
    height: auto;
    width: auto;
    
}
.container {
    position: relative;
    text-align: center;
    top: 200px;
}
.buttons {
    position: relative;
    text-align: center;
    top: 250px;
}
.search {
    position:relative;
    text-align: auto;
    opacity: .5;
    
}